<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

       <a href="https://www.careerpower.in/" class="logo"><img src="./images/cp_logo_footer@2x.png" alt="" class="img-fluid nondark"> <img src="./images/cp_logo_footer@2x.png" alt="" class="img-fluid drkimgshow"></a>

       <div class="desk-menu">
     
        <nav class="box-menu">
          <div class="menu-container">
            <div class="menu-header-container">
              <ul id="cd-primary-nav" class="menu">
                <li class="menu-item">
                  <a href="https://www.adda247.com/sbi-po/live-classes-kit?utm_source=CP&amp;utm_medium=header"><strong>SBI PO Coaching</strong></a>                  
                </li>
				<li class="menu-item">
                  <a href="https://www.adda247.com/rbi-assistant/live-classes-kit?utm_source=CP&amp;utm_medium=header"><strong>RBI Assistant Coaching</strong></a>                  
                </li>
				<li class="menu-item">
                  <a href="https://www.careerpower.in/viewCourses.html?city=Delhi&amp;branch=Laxmi%20Nagar&amp;key=All%20Courses"> Coaching Centres</a>                  
                </li>
             
                <li class="menu-item menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children">
                      <a href="#">Bank</a>
                      <ul class="sub-menu">
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/sbi-clerk.html">SBI Clerk</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/sbi-po.html">SBI PO</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ibps-po.html">IBPS PO</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ibps-clerk.html">IBPS Clerk</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ibps-rrb.html">IBPS RRB</a>
                        </li>
                      <li class="back"><a href="#">Back</a></li></ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="#">SSC</a>
                      <ul class="sub-menu">
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ssc-cgl.html">SSC CGL</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ssc-chsl.html">SSC CHSL</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ssc-mts.html">SSC MTS</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ssc-gd.html">SSC GD</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/ssc-je.html">SSC JE</a>
                        </li>

                     <li class="back"><a href="#">Back</a></li></ul>
                    </li>

                    <li class="menu-item menu-item-has-children">
                      <a href="#">Railway</a>
                      <ul class="sub-menu">
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/rrb-alp.html">RRB ALP</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/rrb-group-d.html">RRB Group D</a>
                        </li>
                  <li class="menu-item">
                          <a href="https://www.careerpower.in/rpf-recruitment.html">RPF Constable</a>
                        </li>

                     <li class="back"><a href="#">Back</a></li></ul>
                    </li>


                    <li class="menu-item menu-item-has-children">
                      <a href="#">12th+</a>
                      <ul class="sub-menu">
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/school/neet">NEET 2024</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/school/jee-main">JEE Mian 2024</a>
                        </li>
                        <li class="menu-item">
                          <a href="https://www.careerpower.in/cuet.html">CUET 2024</a>
                        </li>

                      <li class="back"><a href="#">Back</a></li></ul>
                    </li>
                 <li class="back"><a href="#">Back</a></li></ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="#">Recent Exams</a>
                  <ul class="sub-menu">
                    <li class="menu-item">
                      <a href="https://www.careerpower.in/sbi-po.html">SBI PO 2023</a>
                    </li>
					<li class="menu-item">
                      <a href="https://www.careerpower.in/sbi-clerk.html">SBI Clerk 2023</a>
                    </li>
					<li class="menu-item">
                      <a href="https://www.careerpower.in/ssc-chsl.html">SSC CHSL 2023</a>
                    </li>
					 <li class="menu-item">
                      <a href="https://www.careerpower.in/ibps-po.html">IBPS PO 2023</a>
                    </li>
					<li class="menu-item">
                      <a href="https://www.careerpower.in/rbi-assistant.html">RBI Assistant 2023</a>
                    </li>
					<li class="menu-item">
                      <a href="https://www.careerpower.in/delhi-police-constable.html">Delhi Police Constable 2023</a>
                    </li>                   
                 <li class="back"><a href="#">Back</a></li></ul>
                </li>
                <li class="lastmenu">
                  <div class="loginbtn-header"><a href="https://www.adda247.com/?utm_source=CP&amp;utm_medium=TopHeaderNew&amp;utm_campaign=GoldPromo">Signup/Login</a></div>
                </li>
               
              </ul>
            </div>
                <div class="menu-foot">
                  <div class="boxwrap-mbl-dwn">
                    <div class="box-mbl-wrap">
                    <div class="top-logo-mbl"><img src="https://www.careerpower.in/images/cp-mbl-logo.png"></div>
                    <div class="text-logo-mbl">Get Career Power Learning App</div>
                    </div>
                    <div class="mbl-menu-btn"><a href="https://adda247.app.link/hO10PNRJlvb">Download Now</a></div>
                  </div>              
              </div>
          </div>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </nav>
      </div>
	  
</div>
  </header>