<div class="faq-container">
    <h1>First In Assam </h1>
    <ol>
      <li data-answer="Padmanath Gohain Baruah">Who was the first president of Assam Sahitya Sabha?</li>
      <li data-answer="Bonphool">Which is the first poetry book to be awarded with Sahitya Akademi?</li>
      <li data-answer="Iyaruingam">Which is the first novel to win Sahitya Akademi award?</li>
      <li data-answer="Mritunjoy">Which is the first book to win the Jnanpith award?</li>
      <li data-answer="Pratima Pandey Barua">Who was the first woman to be awarded by Sangeet Natak Akademi?</li>
      <li data-answer="Haragovinda Sharma">The first Assamese children's Novel 'Patalpuri' was written by?</li>
      <li data-answer="Bhabendra Nath Saikia">Who was the first recipient of Assam Valley Award (Literary)?</li>
      <li data-answer="Kirthinath Hazarika">Who was the founder of editor of 'Dainik Assam'?</li>
      <li data-answer="Bhanumati">What is the name of the first Assamese Novel?</li>
      <li data-answer="Gopinath Bordoloi">Who was the first recipient of Bharat Ratna Award?</li>
      <li data-answer="Bhogeswar Baruah">Who was the first Assamese to receive the Arjuna Award?</li>
      <li data-answer="Monalisha Barua Mehta">Who was the first Assamese female to receive the Arjuna Award?</li>
      <li data-answer="Lovlina Bordoloi">Who was the first Assamese to win Khel Ratna Award?</li>
      <li data-answer="Dr Bhupen Hazarika">Who is the first Assamese to win the Dada Saheb Phalke Award?</li>
      <li data-answer="Sanjutka Parashar">Who is the first Assamese female IPS officer?</li>
      <li data-answer="Dr Bhupen Hazarika">Name the first Assamese to win the 'Assam Ratna' award?</li>
      <li data-answer="Piyoli Phukan">Name the first Assamese film to win a National award?</li>
      <li data-answer="Joymoti">Name the first Assamese film?</li>
      <li data-answer="Bhaiti">Name the first Assamese colour film.</li>
      <li data-answer="Miri Jiyori">Name the first Assamese Novel based on Tribal life of Assam.</li>
      <li data-answer="Jorhat">The first Women university in Assam Located in?</li>
      <li data-answer="Cotton College">First College established in Assam.</li>
      <li data-answer="Gopinath Bordoloi">First Chief Minister of independent Assam.</li>
      <li data-answer="Sir Muhammad Saleh Akbar Hydari">First governor of independent Assam.</li>
      <li data-answer="Syed Anowara Taimur">First woman Chief Minister.</li>
      <li data-answer="Talimeren Ao (Footballer, London , 1948)">First to participate in Olympic.</li>
      <li data-answer="Lovelina Borgohain">First female Olympic participant.</li>
      <li data-answer="Parbati Kumar Goswami">First Assamese judge in the supreme court.</li>
      <li data-answer="Rajaniprabha Das">Who was the first Assamese woman to become a doctor?</li>
      <li data-answer="Mamoni Raisom Goswami">Who was the first Assamese lady to receive 'Assam Ratna'?</li>
    </ol>
  </div>